In [1]:
import pandas as pd

In [210]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

# 영역-상권 데이터 확인하기

### shp파일 csv로 저장

In [3]:
# pip install geopandas

In [4]:
'''
import geopandas as gpd

# shp 파일 읽기
shapefile_data = gpd.read_file('data/서울시 상권분석서비스(영역-상권).shp')

# CSV 파일로 저장
shapefile_data.to_csv('data/영역-상권.csv', index=False)
'''

"\nimport geopandas as gpd\n\n# shp 파일 읽기\nshapefile_data = gpd.read_file('data/서울시 상권분석서비스(영역-상권).shp')\n\n# CSV 파일로 저장\nshapefile_data.to_csv('data/영역-상권.csv', index=False)\n"

In [16]:
import pandas as pd
area_data = pd.read_csv('data/영역-상권.csv')
area_data.head()

,TRDAR_SE_C,TRDAR_SE_1,TRDAR_CD,TRDAR_CD_N,XCNTS_VALU,YDNTS_VALU,SIGNGU_CD,SIGNGU_CD_,ADSTRD_CD,ADSTRD_CD_,RELM_AR,geometry
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093.0,453418.0,11110,종로구,11110515,청운효자동,149264.0,"POLYGON ((196955.8422 453722.1139, 196958.6692..."
1,U,관광특구,3001494,종로·청계 관광특구,199796.0,452274.0,11110,종로구,11110615,종로1·2·3·4가동,653127.0,"POLYGON ((201385.3797 452513.7246, 201385.2841..."
2,R,전통시장,3130021,신설종합시장,201854.0,452569.0,11110,종로구,11110710,숭인2동,9800.0,"POLYGON ((201937.1213 452552.08300000103, 2018..."
3,R,전통시장,3130002,세종마을음식문화거리(금천교시장),197423.0,453030.0,11110,종로구,11110530,사직동,49557.0,"POLYGON ((197550.6696 453079.8868, 197554.0259..."
4,R,전통시장,3130001,통인시장,197351.0,453449.0,11110,종로구,11110515,청운효자동,38280.0,"POLYGON ((197428.0091 453548.216, 197436.6966 ..."

### 컬럼명 변경

In [17]:
area_data = pd.read_csv('data/영역-상권.csv')

# 컬럼명 변경
new_names = {
    'TRDAR_SE_C' : '상권_구분_코드',
    'TRDAR_SE_1': '상권_구분_코드_명',
    'TRDAR_CD': '상권_코드',
    'TRDAR_CD_N': '상권_코드_명',
    'XCNTS_VALU': '엑스좌표_값',
    'YDNTS_VALU': '와이좌표_값',
    'SIGNGU_CD': '자치구_코드',
    'SIGNGU_CD_': '자치구_코드_명',
    'ADSTRD_CD': '행정동_코드',
    'ADSTRD_CD_': '행정동_코드_명',
    'RELM_AR': '영역_면적'
}

area_data = area_data.rename(columns=new_names)
area_data.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,geometry
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093.0,453418.0,11110,종로구,11110515,청운효자동,149264.0,"POLYGON ((196955.8422 453722.1139, 196958.6692..."
1,U,관광특구,3001494,종로·청계 관광특구,199796.0,452274.0,11110,종로구,11110615,종로1·2·3·4가동,653127.0,"POLYGON ((201385.3797 452513.7246, 201385.2841..."
2,R,전통시장,3130021,신설종합시장,201854.0,452569.0,11110,종로구,11110710,숭인2동,9800.0,"POLYGON ((201937.1213 452552.08300000103, 2018..."
3,R,전통시장,3130002,세종마을음식문화거리(금천교시장),197423.0,453030.0,11110,종로구,11110530,사직동,49557.0,"POLYGON ((197550.6696 453079.8868, 197554.0259..."
4,R,전통시장,3130001,통인시장,197351.0,453449.0,11110,종로구,11110515,청운효자동,38280.0,"POLYGON ((197428.0091 453548.216, 197436.6966 ..."

In [18]:
area_data.isnull().sum()

상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드        0
자치구_코드_명      0
행정동_코드        0
행정동_코드_명      0
영역_면적         0
geometry      0
dtype: int64

In [19]:
list(area_data.columns)

['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '엑스좌표_값',
 '와이좌표_값',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '영역_면적',
 'geometry']

In [5]:
area_data.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적,geometry
0,A,골목상권,3110008,배화여자대학교(박노수미술관),197093.0,453418.0,11110,종로구,11110515,청운효자동,149264.0,"POLYGON ((196955.8422 453722.1139, 196958.6692..."
1,U,관광특구,3001494,종로·청계 관광특구,199796.0,452274.0,11110,종로구,11110615,종로1·2·3·4가동,653127.0,"POLYGON ((201385.3797 452513.7246, 201385.2841..."
2,R,전통시장,3130021,신설종합시장,201854.0,452569.0,11110,종로구,11110710,숭인2동,9800.0,"POLYGON ((201937.1213 452552.08300000103, 2018..."
3,R,전통시장,3130002,세종마을음식문화거리(금천교시장),197423.0,453030.0,11110,종로구,11110530,사직동,49557.0,"POLYGON ((197550.6696 453079.8868, 197554.0259..."
4,R,전통시장,3130001,통인시장,197351.0,453449.0,11110,종로구,11110515,청운효자동,38280.0,"POLYGON ((197428.0091 453548.216, 197436.6966 ..."

### 필요한 컬럼만 추출

In [20]:
area_data = area_data[['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명']]

In [21]:
area_data.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명
0,A,골목상권,3110008,배화여자대학교(박노수미술관),11110,종로구,11110515,청운효자동
1,U,관광특구,3001494,종로·청계 관광특구,11110,종로구,11110615,종로1·2·3·4가동
2,R,전통시장,3130021,신설종합시장,11110,종로구,11110710,숭인2동
3,R,전통시장,3130002,세종마을음식문화거리(금천교시장),11110,종로구,11110530,사직동
4,R,전통시장,3130001,통인시장,11110,종로구,11110515,청운효자동

# 길단위인구-상권 데이터 확인

In [332]:
import pandas as pd

road_data = pd.read_csv('data/(길단위인구-상권).csv', encoding='cp949')
road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,20233,U,관광특구,3001496,강남 마이스 관광특구,116820,56546,60274,9741,24430,31606,26251,14528,10264,6838,22047,28119,28982,24541,6292,16713,17686,18378,18560,18293,14662,12527
1,20233,U,관광특구,3001495,잠실 관광특구,4005509,1937145,2068365,413439,892838,976029,681749,492787,548668,693066,743362,605483,633309,864839,465448,566137,566857,573760,570159,579731,595722,553142
2,20233,U,관광특구,3001494,종로?청계 관광특구,8353018,4439304,3913714,321655,1531086,1634594,1585568,1450905,1829208,854360,1660233,1757007,1773540,1659889,647989,1344871,1344464,1353279,1316337,1316317,962386,715364
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,3189182,1510236,1678946,173200,566457,759480,620976,494222,574846,634526,639066,487752,480423,562444,384970,505715,509594,510428,496596,464684,354613,347552
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,6822274,3317776,3504498,284079,1188425,1689576,1559905,1101604,998682,384452,1450341,1683283,1665421,1296312,342464,1117683,1129837,1153089,1116744,1090865,678392,535663

In [333]:
road_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31346 entries, 0 to 31345
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         31346 non-null  int64
 1   상권_구분_코드          31346 non-null  object
 2   상권_구분_코드_명        31346 non-null  object
 3   상권_코드             31346 non-null  int64
 4   상권_코드_명           31346 non-null  object
 5   총_유동인구_수          31346 non-null  int64
 6   남성_유동인구_수         31346 non-null  int64
 7   여성_유동인구_수         31346 non-null  int64
 8   연령대_10_유동인구_수     31346 non-null  int64
 9   연령대_20_유동인구_수     31346 non-null  int64
 10  연령대_30_유동인구_수     31346 non-null  int64
 11  연령대_40_유동인구_수     31346 non-null  int64
 12  연령대_50_유동인구_수     31346 non-null  int64
 13  연령대_60_이상_유동인구_수  31346 non-null  int64
 14  시간대_00_06_유동인구_수  31346 non-null  int64
 15  시간대_06_11_유동인구_수  31346 non-null  int64
 16  시간대_11_14_유동인구_수  31346 non-null  int64
 17  시간대_14_17_유동인구_수  31346 non-null  int64
 18  시간대_17_21_유동인구_수  31346 non-null  int64
 19  시간대_21_24_유동인구_수  31346 non-null  int64
 20  월요일_유동인구_수        31346 non-null  int64
 21  화요일_유동인구_수        31346 non-null  int64
 22  수요일_유동인구_수        31346 non-null  int64
 23  목요일_유동인구_수        31346 non-null  int64
 24  금요일_유동인구_수        31346 non-null  int64
 25  토요일_유동인구_수        31346 non-null  int64
 26  일요일_유동인구_수        31346 non-null  int64
dtypes: int64(24), object(3)
memory usage: 6.5+ MB

In [334]:
road_data.isnull().sum().sum()

0

In [335]:
road_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20191    1650
20192    1650
20193    1650
20194    1650
20201    1650
20202    1650
20203    1650
20204    1650
20211    1650
20212    1650
20213    1650
20214    1650
20221    1650
20222    1650
20223    1650
20224    1649
20231    1649
20232    1649
20233    1649
Name: count, dtype: int64

### 시간대별 유동인구 수만 남기고 나머지 데이터 삭제
- 나머지 데이터들은 세분화된 데이터임

In [336]:
list(road_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_유동인구_수',
 '남성_유동인구_수',
 '여성_유동인구_수',
 '연령대_10_유동인구_수',
 '연령대_20_유동인구_수',
 '연령대_30_유동인구_수',
 '연령대_40_유동인구_수',
 '연령대_50_유동인구_수',
 '연령대_60_이상_유동인구_수',
 '시간대_00_06_유동인구_수',
 '시간대_06_11_유동인구_수',
 '시간대_11_14_유동인구_수',
 '시간대_14_17_유동인구_수',
 '시간대_17_21_유동인구_수',
 '시간대_21_24_유동인구_수',
 '월요일_유동인구_수',
 '화요일_유동인구_수',
 '수요일_유동인구_수',
 '목요일_유동인구_수',
 '금요일_유동인구_수',
 '토요일_유동인구_수',
 '일요일_유동인구_수']

In [337]:
road_data = road_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
'시간대_00_06_유동인구_수',
 '시간대_06_11_유동인구_수',
 '시간대_11_14_유동인구_수',
 '시간대_14_17_유동인구_수',
 '시간대_17_21_유동인구_수',
 '시간대_21_24_유동인구_수',
 '월요일_유동인구_수',
 '화요일_유동인구_수',
 '수요일_유동인구_수',
 '목요일_유동인구_수',
 '금요일_유동인구_수',
 '토요일_유동인구_수',
 '일요일_유동인구_수'
]]

In [338]:
road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,20233,U,관광특구,3001496,강남 마이스 관광특구,6838,22047,28119,28982,24541,6292,16713,17686,18378,18560,18293,14662,12527
1,20233,U,관광특구,3001495,잠실 관광특구,693066,743362,605483,633309,864839,465448,566137,566857,573760,570159,579731,595722,553142
2,20233,U,관광특구,3001494,종로?청계 관광특구,854360,1660233,1757007,1773540,1659889,647989,1344871,1344464,1353279,1316337,1316317,962386,715364
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,634526,639066,487752,480423,562444,384970,505715,509594,510428,496596,464684,354613,347552
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,384452,1450341,1683283,1665421,1296312,342464,1117683,1129837,1153089,1116744,1090865,678392,535663

### 시간대 데이터 구분

In [339]:
# 시간대 컬럼을 기준으로 데이터 재구성
road_data = road_data.melt(id_vars=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '월요일_유동인구_수',
 '화요일_유동인구_수',
 '수요일_유동인구_수',
 '목요일_유동인구_수',
 '금요일_유동인구_수',
 '토요일_유동인구_수',
 '일요일_유동인구_수'], 
                        var_name='시간대', value_name='시간대_유동인구_수')

In [340]:
road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,시간대,시간대_유동인구_수
0,20233,U,관광특구,3001496,강남 마이스 관광특구,16713,17686,18378,18560,18293,14662,12527,시간대_00_06_유동인구_수,6838
1,20233,U,관광특구,3001495,잠실 관광특구,566137,566857,573760,570159,579731,595722,553142,시간대_00_06_유동인구_수,693066
2,20233,U,관광특구,3001494,종로?청계 관광특구,1344871,1344464,1353279,1316337,1316317,962386,715364,시간대_00_06_유동인구_수,854360
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,505715,509594,510428,496596,464684,354613,347552,시간대_00_06_유동인구_수,634526
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,1117683,1129837,1153089,1116744,1090865,678392,535663,시간대_00_06_유동인구_수,384452

In [341]:
# '시간대' 컬럼 값을 변경하여 시간대를 더 직관적으로 표현
road_data['시간대'] = road_data['시간대'].replace({
    '시간대_00_06_유동인구_수': '시간대_00~06',
    '시간대_06_11_유동인구_수': '시간대_06~11',
    '시간대_11_14_유동인구_수': '시간대_11~14',
    '시간대_14_17_유동인구_수': '시간대_14~17',
    '시간대_17_21_유동인구_수': '시간대_17~21',
    '시간대_21_24_유동인구_수': '시간대_21~24'
})

# 시간대별 컬럼명 리스트
hourly_columns = ['시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24']

# 시간대별로 해당 값이 있는지 여부를 1 또는 0으로 설정
for column in hourly_columns:
    road_data[column] = (road_data['시간대'] == column).astype(int)

road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,시간대,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24
0,20233,U,관광특구,3001496,강남 마이스 관광특구,16713,17686,18378,18560,18293,14662,12527,시간대_00~06,6838,1,0,0,0,0,0
1,20233,U,관광특구,3001495,잠실 관광특구,566137,566857,573760,570159,579731,595722,553142,시간대_00~06,693066,1,0,0,0,0,0
2,20233,U,관광특구,3001494,종로?청계 관광특구,1344871,1344464,1353279,1316337,1316317,962386,715364,시간대_00~06,854360,1,0,0,0,0,0
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,505715,509594,510428,496596,464684,354613,347552,시간대_00~06,634526,1,0,0,0,0,0
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,1117683,1129837,1153089,1116744,1090865,678392,535663,시간대_00~06,384452,1,0,0,0,0,0

In [342]:
road_data['시간대_21~24'].value_counts()

시간대_21~24
0    156730
1     31346
Name: count, dtype: int64

In [343]:
road_data = road_data.drop(columns=['시간대'])
road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24
0,20233,U,관광특구,3001496,강남 마이스 관광특구,16713,17686,18378,18560,18293,14662,12527,6838,1,0,0,0,0,0
1,20233,U,관광특구,3001495,잠실 관광특구,566137,566857,573760,570159,579731,595722,553142,693066,1,0,0,0,0,0
2,20233,U,관광특구,3001494,종로?청계 관광특구,1344871,1344464,1353279,1316337,1316317,962386,715364,854360,1,0,0,0,0,0
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,505715,509594,510428,496596,464684,354613,347552,634526,1,0,0,0,0,0
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,1117683,1129837,1153089,1116744,1090865,678392,535663,384452,1,0,0,0,0,0

### 평일 유동인구수와 주말 유동인구 수 평균값

In [344]:
road_data['평일_유동인구_수_평균'] = road_data[['월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수']].mean(axis=1)
road_data['주말_유동인구_수_평균'] = road_data[['토요일_유동인구_수', '일요일_유동인구_수']].mean(axis=1)

#기존 컬럼 drop
road_data = road_data.drop(['월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수', '토요일_유동인구_수', '일요일_유동인구_수'], axis=1)

road_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,평일_유동인구_수_평균,주말_유동인구_수_평균
0,20233,U,관광특구,3001496,강남 마이스 관광특구,6838,1,0,0,0,0,0,17926.0,13594.5
1,20233,U,관광특구,3001495,잠실 관광특구,693066,1,0,0,0,0,0,571328.8,574432.0
2,20233,U,관광특구,3001494,종로?청계 관광특구,854360,1,0,0,0,0,0,1335053.6,838875.0
3,20233,U,관광특구,3001493,동대문패션타운 관광특구,634526,1,0,0,0,0,0,497403.4,351082.5
4,20233,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,384452,1,0,0,0,0,0,1121643.6,607027.5

# 상주인구-상권 데이터 확인

In [265]:
resident_data = pd.read_csv('data/(상주인구-상권).csv', encoding='cp949')
resident_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20194,D,발달상권,3120021,시청역_8번,26,16,10,0,2,3,1,4,16,0,2,1,1,2,10,0,0,2,0,2,6,15,0,15
1,20194,D,발달상권,3120022,북창동(시청역_6번),261,167,94,2,21,40,35,50,113,0,11,31,28,27,70,2,10,9,7,23,43,237,0,237
2,20194,D,발달상권,3120023,서울시청,19,10,9,2,0,0,3,5,9,0,0,0,2,2,6,2,0,0,1,3,3,14,0,14
3,20194,D,발달상권,3120024,회현역,1740,902,838,100,136,171,214,277,842,44,64,97,123,150,424,56,72,74,91,127,418,1172,0,1172
4,20194,D,발달상권,3120025,롯데백화점(시청광장 지하쇼핑센터),1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1

In [266]:
resident_data.isnull().sum().sum()

0

In [267]:
resident_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20194    1634
20201    1634
20202    1634
20203    1634
20204    1634
20211    1634
20212    1634
20213    1634
20214    1634
20221    1634
20222    1634
20223    1634
20224    1625
20231    1628
20232    1625
20233    1625
Name: count, dtype: int64

### 가구수 데이터 확인
- 아파트_가구_수 데이터는 0값만 있어서 컬럼 삭제

In [268]:
resident_data['아파트_가구_수'].value_counts()

아파트_가구_수
0    26111
Name: count, dtype: int64

- 총_가구_수컬럼과 비_아파트_가구_수 컬럼의 값이 같아서 삭제 필요

In [269]:
# A와 B 컬럼을 직접 비교하여 같은지 다른지 확인
are_equal = resident_data['총_가구_수'] == resident_data['비_아파트_가구_수']

# 모든 값이 True인지 확인
all_equal = are_equal.all()

# all_equal을 출력하여 결과 확인
print(all_equal)

True

### 총 상주인구수와 총_가구_수만 남기고 나머지 데이터 삭제

In [270]:
list(resident_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_상주인구_수',
 '남성_상주인구_수',
 '여성_상주인구_수',
 '연령대_10_상주인구_수',
 '연령대_20_상주인구_수',
 '연령대_30_상주인구_수',
 '연령대_40_상주인구_수',
 '연령대_50_상주인구_수',
 '연령대_60_이상_상주인구_수',
 '남성연령대_10_상주인구_수',
 '남성연령대_20_상주인구_수',
 '남성연령대_30_상주인구_수',
 '남성연령대_40_상주인구_수',
 '남성연령대_50_상주인구_수',
 '남성연령대_60_이상_상주인구_수',
 '여성연령대_10_상주인구_수',
 '여성연령대_20_상주인구_수',
 '여성연령대_30_상주인구_수',
 '여성연령대_40_상주인구_수',
 '여성연령대_50_상주인구_수',
 '여성연령대_60_이상_상주인구_수',
 '총_가구_수',
 '아파트_가구_수',
 '비_아파트_가구_수']

In [271]:
resident_data = resident_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_상주인구_수',
 '총_가구_수']]

In [272]:
resident_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_상주인구_수,총_가구_수
0,20194,D,발달상권,3120021,시청역_8번,26,15
1,20194,D,발달상권,3120022,북창동(시청역_6번),261,237
2,20194,D,발달상권,3120023,서울시청,19,14
3,20194,D,발달상권,3120024,회현역,1740,1172
4,20194,D,발달상권,3120025,롯데백화점(시청광장 지하쇼핑센터),1,1

# 소득소비-상권 데이터 확인
- 지출 데이터는 해당 상권 내 상가를 분류(식료품, 생활용품 등)하고, 분류된 상가에서 발생한 카드 결제 금액을 합산하고 보정하여 계산

In [273]:
income_data = pd.read_csv('data/(소득소비-상권).csv', encoding='cp949')
income_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,20231,A,골목상권,3110005,세검정,3768541.0,8.0,8.847016e+08,221446948.0,109882417.0,64738346.0,111988892.0,149822911.0,37478670.0,25606895.0,126544371.0,37192149.0
1,20231,A,골목상권,3110006,부암동주민센터,3963935.0,8.0,2.671774e+08,71242932.0,32618743.0,19192280.0,36992515.0,42702682.0,11024632.0,7714004.0,34834591.0,10854984.0
2,20231,A,골목상권,3110648,양천향교역 7번,3402010.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20231,A,골목상권,3110011,청운초등학교,4237174.0,8.0,2.849605e+08,72815096.0,33939883.0,20375958.0,37447312.0,48549219.0,9846527.0,8188528.0,41677963.0,12119990.0
4,20231,A,골목상권,3110012,성곡미술관,5448355.0,9.0,1.224738e+09,273854172.0,152375434.0,97840852.0,143955451.0,223172184.0,55335090.0,34182648.0,193085753.0,50936827.0

In [274]:
income_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30983 entries, 0 to 30982
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     30983 non-null  int64
 1   상권_구분_코드      30983 non-null  object
 2   상권_구분_코드_명    30983 non-null  object
 3   상권_코드         30983 non-null  int64
 4   상권_코드_명       30983 non-null  object
 5   월_평균_소득_금액    30818 non-null  float64
 6   소득_구간_코드      30818 non-null  float64
 7   지출_총금액        30324 non-null  float64
 8   식료품_지출_총금액    30324 non-null  float64
 9   의류_신발_지출_총금액  30324 non-null  float64
 10  생활용품_지출_총금액   30324 non-null  float64
 11  의료비_지출_총금액    30324 non-null  float64
 12  교통_지출_총금액     30324 non-null  float64
 13  여가_지출_총금액     30324 non-null  float64
 14  문화_지출_총금액     30324 non-null  float64
 15  교육_지출_총금액     30324 non-null  float64
 16  유흥_지출_총금액     30324 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 4.0+ MB

In [275]:
income_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20191    1629
20192    1629
20193    1629
20194    1631
20201    1631
20202    1631
20203    1631
20204    1631
20211    1631
20212    1631
20213    1631
20214    1631
20221    1631
20222    1631
20223    1631
20224    1631
20231    1631
20232    1631
20233    1631
Name: count, dtype: int64

### 결측값 삭제

In [276]:
income_data.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
월_평균_소득_금액      165
소득_구간_코드        165
지출_총금액          659
식료품_지출_총금액      659
의류_신발_지출_총금액    659
생활용품_지출_총금액     659
의료비_지출_총금액      659
교통_지출_총금액       659
여가_지출_총금액       659
문화_지출_총금액       659
교육_지출_총금액       659
유흥_지출_총금액       659
dtype: int64

In [277]:
income_data = income_data.dropna()

In [278]:
income_data.isnull().sum()

기준_년분기_코드       0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
식료품_지출_총금액      0
의류_신발_지출_총금액    0
생활용품_지출_총금액     0
의료비_지출_총금액      0
교통_지출_총금액       0
여가_지출_총금액       0
문화_지출_총금액       0
교육_지출_총금액       0
유흥_지출_총금액       0
dtype: int64

### 총 금액만 남기고 나머지 삭제

In [279]:
list(income_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '식료품_지출_총금액',
 '의류_신발_지출_총금액',
 '생활용품_지출_총금액',
 '의료비_지출_총금액',
 '교통_지출_총금액',
 '여가_지출_총금액',
 '문화_지출_총금액',
 '교육_지출_총금액',
 '유흥_지출_총금액']

In [280]:
income_data = income_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액']]

In [281]:
income_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액
0,20231,A,골목상권,3110005,세검정,3768541.0,8.0,8.847016e+08
1,20231,A,골목상권,3110006,부암동주민센터,3963935.0,8.0,2.671774e+08
3,20231,A,골목상권,3110011,청운초등학교,4237174.0,8.0,2.849605e+08
4,20231,A,골목상권,3110012,성곡미술관,5448355.0,9.0,1.224738e+09
5,20231,A,골목상권,3110013,체부동홍종문가옥,3732442.0,7.0,1.901093e+08

# 직장인구-상권 데이터 확인

In [282]:
workforce_data = pd.read_csv('data/(직장인구-상권).csv', encoding='cp949')
workforce_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,20191,A,골목상권,3110013,체부동홍종문가옥,87,57,30,0,11,25,20,19,12,0,2,18,14,13,10,0,9,7,6,6,2
1,20191,D,발달상권,3120062,신설동역,11307,4711,6596,32,1358,2643,3377,2575,1322,12,439,1343,1338,898,681,20,919,1300,2039,1677,641
2,20191,A,골목상권,3110023,서울대병원,131,46,85,3,34,16,27,33,18,2,7,6,9,10,12,1,27,10,18,23,6
3,20191,R,전통시장,3130011,충신시장,342,201,141,4,76,107,87,54,14,3,39,72,47,30,10,1,37,35,40,24,4
4,20191,R,전통시장,3130018,동대문문구완구거리(동대문문구완구시장),271,166,105,0,20,55,74,66,56,0,10,40,45,40,31,0,10,15,29,26,25

In [283]:
workforce_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27612 entries, 0 to 27611
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            27612 non-null  int64
 1   상권_구분_코드             27612 non-null  object
 2   상권_구분_코드_명           27612 non-null  object
 3   상권_코드                27612 non-null  int64
 4   상권_코드_명              27612 non-null  object
 5   총_직장_인구_수            27612 non-null  int64
 6   남성_직장_인구_수           27612 non-null  int64
 7   여성_직장_인구_수           27612 non-null  int64
 8   연령대_10_직장_인구_수       27612 non-null  int64
 9   연령대_20_직장_인구_수       27612 non-null  int64
 10  연령대_30_직장_인구_수       27612 non-null  int64
 11  연령대_40_직장_인구_수       27612 non-null  int64
 12  연령대_50_직장_인구_수       27612 non-null  int64
 13  연령대_60_이상_직장_인구_수    27612 non-null  int64
 14  남성연령대_10_직장_인구_수     27612 non-null  int64
 15  남성연령대_20_직장_인구_수     27612 non-null  int64
 16  남성연령대_30_직장_인구_수     27612 non-null  int64
 17  남성연령대_40_직장_인구_수     27612 non-null  int64
 18  남성연령대_50_직장_인구_수     27612 non-null  int64
 19  남성연령대_60_이상_직장_인구_수  27612 non-null  int64
 20  여성연령대_10_직장_인구_수     27612 non-null  int64
 21  여성연령대_20_직장_인구_수     27612 non-null  int64
 22  여성연령대_30_직장_인구_수     27612 non-null  int64
 23  여성연령대_40_직장_인구_수     27612 non-null  int64
 24  여성연령대_50_직장_인구_수     27612 non-null  int64
 25  여성연령대_60_이상_직장_인구_수  27612 non-null  int64
dtypes: int64(23), object(3)
memory usage: 5.5+ MB

In [284]:
workforce_data.isnull().sum()

기준_년분기_코드              0
상권_구분_코드               0
상권_구분_코드_명             0
상권_코드                  0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

In [285]:
workforce_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20191    1644
20194    1623
20201    1623
20202    1623
20203    1623
20204    1623
20211    1623
20212    1623
20213    1623
20214    1623
20221    1623
20222    1623
20223    1623
20224    1623
20231    1623
20232    1623
20233    1623
Name: count, dtype: int64

### 총 직장 인구수만 남기고 나머지 삭제

In [286]:
list(workforce_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_직장_인구_수',
 '남성_직장_인구_수',
 '여성_직장_인구_수',
 '연령대_10_직장_인구_수',
 '연령대_20_직장_인구_수',
 '연령대_30_직장_인구_수',
 '연령대_40_직장_인구_수',
 '연령대_50_직장_인구_수',
 '연령대_60_이상_직장_인구_수',
 '남성연령대_10_직장_인구_수',
 '남성연령대_20_직장_인구_수',
 '남성연령대_30_직장_인구_수',
 '남성연령대_40_직장_인구_수',
 '남성연령대_50_직장_인구_수',
 '남성연령대_60_이상_직장_인구_수',
 '여성연령대_10_직장_인구_수',
 '여성연령대_20_직장_인구_수',
 '여성연령대_30_직장_인구_수',
 '여성연령대_40_직장_인구_수',
 '여성연령대_50_직장_인구_수',
 '여성연령대_60_이상_직장_인구_수']

In [287]:
workforce_data = workforce_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '총_직장_인구_수']]

In [288]:
workforce_data.head()

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드               상권_코드_명  총_직장_인구_수
0      20191        A       골목상권  3110013              체부동홍종문가옥         87
1      20191        D       발달상권  3120062                  신설동역      11307
2      20191        A       골목상권  3110023                 서울대병원        131
3      20191        R       전통시장  3130011                  충신시장        342
4      20191        R       전통시장  3130018  동대문문구완구거리(동대문문구완구시장)        271

# 집객시설-상권 데이터 확인
- 집객시설_수 컬럼은 옆의 모든 집객시설을 더한 뒤, 내부적으로 사용하고 있는 집객시설(동/식물원, 예식장 등..)까지 더한 값

In [289]:
public_data = pd.read_csv('data/(집객시설-상권).csv', encoding='cp949')
public_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,20232,A,골목상권,3110006,부암동주민센터,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,20231,A,골목상권,3110271,신내역 1번,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,20232,A,골목상권,3110282,국민대학교앞,4,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,20233,A,골목상권,3110008,배화여자대학교(박노수미술관),9,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4,20233,A,골목상권,3110009,자하문터널,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0

In [290]:
public_data.shape

(18936, 25)

In [291]:
public_data.isnull().sum()

기준_년분기_코드         0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
집객시설_수            0
관공서_수         11376
은행_수          13092
종합병원_수        18660
일반_병원_수       17352
약국_수           6828
유치원_수         17124
초등학교_수        18780
중학교_수         18888
고등학교_수        18804
대학교_수         17928
백화점_수         18804
슈퍼마켓_수        17676
극장_수          17928
숙박_시설_수       17196
공항_수          18924
철도_역_수        18936
버스_터미널_수      18912
지하철_역_수       16596
버스_정거장_수       3696
dtype: int64

### null값 데이터 0으로 변경

In [292]:
public_data = public_data.fillna(0, inplace=False)

In [293]:
public_data.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [294]:
public_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20204    1578
20211    1578
20212    1578
20213    1578
20214    1578
20221    1578
20222    1578
20223    1578
20224    1578
20231    1578
20232    1578
20233    1578
Name: count, dtype: int64

### 집객시설 수는 나머지 컬럼들의 합과 내부적인 집객시설들을 다 더한 값이므로 우선 집객시설 수만 남기고 나머지 삭제

In [295]:
list(public_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '집객시설_수',
 '관공서_수',
 '은행_수',
 '종합병원_수',
 '일반_병원_수',
 '약국_수',
 '유치원_수',
 '초등학교_수',
 '중학교_수',
 '고등학교_수',
 '대학교_수',
 '백화점_수',
 '슈퍼마켓_수',
 '극장_수',
 '숙박_시설_수',
 '공항_수',
 '철도_역_수',
 '버스_터미널_수',
 '지하철_역_수',
 '버스_정거장_수']

In [296]:
public_data = public_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '집객시설_수']]

In [297]:
public_data.head()

   기준_년분기_코드 상권_구분_코드 상권_구분_코드_명    상권_코드          상권_코드_명  집객시설_수
0      20232        A       골목상권  3110006          부암동주민센터       3
1      20231        A       골목상권  3110271           신내역 1번       3
2      20232        A       골목상권  3110282           국민대학교앞       4
3      20233        A       골목상권  3110008  배화여자대학교(박노수미술관)       9
4      20233        A       골목상권  3110009            자하문터널       3

# 추정매출-상권 데이터 확인

In [298]:
estimatedrevenue_data1 = pd.read_csv('data/(추정매출-상권)_2020년.csv', encoding='cp949')
estimatedrevenue_data2 = pd.read_csv('data/(추정매출-상권)_2021년.csv', encoding='cp949')
estimatedrevenue_data3 = pd.read_csv('data/(추정매출-상권)_2022.csv', encoding='cp949')
estimatedrevenue_data4 = pd.read_csv('data/(추정매출-상권)_2023.csv', encoding='cp949')

In [299]:
estimatedrevenue_data = pd.concat([estimatedrevenue_data1, estimatedrevenue_data2, estimatedrevenue_data3, estimatedrevenue_data4], axis=0)

In [300]:
estimatedrevenue_data['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20201    19750
20202    19991
20203    20078
20204    20169
20211    20177
20212    20446
20213    20496
20214    20707
20221    20648
20222    20901
20223    20955
20224    21069
20231    21020
20232    21099
20233    20737
Name: count, dtype: int64

In [301]:
estimatedrevenue_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 308243 entries, 0 to 62855
Data columns (total 55 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        308243 non-null  int64
 1   상권_구분_코드         308243 non-null  object
 2   상권_구분_코드_명       308243 non-null  object
 3   상권_코드            308243 non-null  int64
 4   상권_코드_명          308243 non-null  object
 5   서비스_업종_코드        308243 non-null  object
 6   서비스_업종_코드_명      308243 non-null  object
 7   당월_매출_금액         308243 non-null  int64
 8   당월_매출_건수         308243 non-null  int64
 9   주중_매출_금액         308243 non-null  int64
 10  주말_매출_금액         308243 non-null  int64
 11  월요일_매출_금액        308243 non-null  int64
 12  화요일_매출_금액        308243 non-null  int64
 13  수요일_매출_금액        308243 non-null  int64
 14  목요일_매출_금액        308243 non-null  int64
 15  금요일_매출_금액        308243 non-null  int64
 16  토요일_매출_금액        308243 non-null  int64
 17  일요일_매출_금액        308243 non-null  int64
 18  시간대_00~06_매출_금액  308243 non-null  int64
 19  시간대_06~11_매출_금액  308243 non-null  int64
 20  시간대_11~14_매출_금액  308243 non-null  int64
 21  시간대_14~17_매출_금액  308243 non-null  int64
 22  시간대_17~21_매출_금액  308243 non-null  int64
 23  시간대_21~24_매출_금액  308243 non-null  int64
 24  남성_매출_금액         308243 non-null  int64
 25  여성_매출_금액         308243 non-null  int64
 26  연령대_10_매출_금액     308243 non-null  int64
 27  연령대_20_매출_금액     308243 non-null  int64
 28  연령대_30_매출_금액     308243 non-null  int64
 29  연령대_40_매출_금액     308243 non-null  int64
 30  연령대_50_매출_금액     308243 non-null  int64
 31  연령대_60_이상_매출_금액  308243 non-null  int64
 32  주중_매출_건수         308243 non-null  int64
 33  주말_매출_건수         308243 non-null  int64
 34  월요일_매출_건수        308243 non-null  int64
 35  화요일_매출_건수        308243 non-null  int64
 36  수요일_매출_건수        308243 non-null  int64
 37  목요일_매출_건수        308243 non-null  int64
 38  금요일_매출_건수        308243 non-null  int64
 39  토요일_매출_건수        308243 non-null  int64
 40  일요일_매출_건수        308243 non-null  int64
 41  시간대_건수~06_매출_건수  308243 non-null  int64
 42  시간대_건수~11_매출_건수  308243 non-null  int64
 43  시간대_건수~14_매출_건수  308243 non-null  int64
 44  시간대_건수~17_매출_건수  308243 non-null  int64
 45  시간대_건수~21_매출_건수  308243 non-null  int64
 46  시간대_건수~24_매출_건수  308243 non-null  int64
 47  남성_매출_건수         308243 non-null  int64
 48  여성_매출_건수         308243 non-null  int64
 49  연령대_10_매출_건수     308243 non-null  int64
 50  연령대_20_매출_건수     308243 non-null  int64
 51  연령대_30_매출_건수     308243 non-null  int64
 52  연령대_40_매출_건수     308243 non-null  int64
 53  연령대_50_매출_건수     308243 non-null  int64
 54  연령대_60_이상_매출_건수  308243 non-null  int64
dtypes: int64(50), object(5)
memory usage: 131.7+ MB

In [302]:
estimatedrevenue_data.isnull().sum()

기준_년분기_코드          0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
상권_코드_명            0
서비스_업종_코드          0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

### 시간대 매출 금액만 남기고 나머지 삭제

In [303]:
list(estimatedrevenue_data.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '서비스_업종_코드',
 '서비스_업종_코드_명',
 '당월_매출_금액',
 '당월_매출_건수',
 '주중_매출_금액',
 '주말_매출_금액',
 '월요일_매출_금액',
 '화요일_매출_금액',
 '수요일_매출_금액',
 '목요일_매출_금액',
 '금요일_매출_금액',
 '토요일_매출_금액',
 '일요일_매출_금액',
 '시간대_00~06_매출_금액',
 '시간대_06~11_매출_금액',
 '시간대_11~14_매출_금액',
 '시간대_14~17_매출_금액',
 '시간대_17~21_매출_금액',
 '시간대_21~24_매출_금액',
 '남성_매출_금액',
 '여성_매출_금액',
 '연령대_10_매출_금액',
 '연령대_20_매출_금액',
 '연령대_30_매출_금액',
 '연령대_40_매출_금액',
 '연령대_50_매출_금액',
 '연령대_60_이상_매출_금액',
 '주중_매출_건수',
 '주말_매출_건수',
 '월요일_매출_건수',
 '화요일_매출_건수',
 '수요일_매출_건수',
 '목요일_매출_건수',
 '금요일_매출_건수',
 '토요일_매출_건수',
 '일요일_매출_건수',
 '시간대_건수~06_매출_건수',
 '시간대_건수~11_매출_건수',
 '시간대_건수~14_매출_건수',
 '시간대_건수~17_매출_건수',
 '시간대_건수~21_매출_건수',
 '시간대_건수~24_매출_건수',
 '남성_매출_건수',
 '여성_매출_건수',
 '연령대_10_매출_건수',
 '연령대_20_매출_건수',
 '연령대_30_매출_건수',
 '연령대_40_매출_건수',
 '연령대_50_매출_건수',
 '연령대_60_이상_매출_건수']

In [304]:
estimatedrevenue_data = estimatedrevenue_data[['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '서비스_업종_코드',
 '서비스_업종_코드_명',
'시간대_00~06_매출_금액',
 '시간대_06~11_매출_금액',
 '시간대_11~14_매출_금액',
 '시간대_14~17_매출_금액',
 '시간대_17~21_매출_금액',
 '시간대_21~24_매출_금액']]

estimatedrevenue_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액
0,20201,R,전통시장,3130214,송화벽화시장(송화골목시장),CS100010,커피-음료,0,10025848,24829967,31177860,31226038,6935073
1,20201,D,발달상권,3120037,동대문역사문화공원역,CS300043,전자상거래업,0,0,0,0,3409925,0
2,20201,A,골목상권,3110297,경동고등학교,CS300010,반찬가게,0,0,0,49765717,0,0
3,20201,A,골목상권,3110227,답십리공원,CS300011,일반의류,0,538762,0,3169106,352099,0
4,20201,A,골목상권,3110294,서경대학교,CS300011,일반의류,0,0,0,159930,276802,0

### 시간대 데이터 구분

In [306]:
# 시간대 컬럼을 기준으로 데이터 재구성
estimatedrevenue_data = estimatedrevenue_data.melt(id_vars=['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '서비스_업종_코드',
 '서비스_업종_코드_명'], 
                        var_name='시간대', value_name='시간대_매출금액')

In [307]:
estimatedrevenue_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,시간대,시간대_매출금액
0,20201,R,전통시장,3130214,송화벽화시장(송화골목시장),CS100010,커피-음료,시간대_00~06_매출_금액,0
1,20201,D,발달상권,3120037,동대문역사문화공원역,CS300043,전자상거래업,시간대_00~06_매출_금액,0
2,20201,A,골목상권,3110297,경동고등학교,CS300010,반찬가게,시간대_00~06_매출_금액,0
3,20201,A,골목상권,3110227,답십리공원,CS300011,일반의류,시간대_00~06_매출_금액,0
4,20201,A,골목상권,3110294,서경대학교,CS300011,일반의류,시간대_00~06_매출_금액,0

In [308]:
# '시간대' 컬럼 값을 변경하여 시간대를 더 직관적으로 표현
estimatedrevenue_data['시간대'] = estimatedrevenue_data['시간대'].replace({
    '시간대_00~06_매출_금액': '시간대_00~06',
    '시간대_06~11_매출_금액': '시간대_06~11',
    '시간대_11~14_매출_금액': '시간대_11~14',
    '시간대_14~17_매출_금액': '시간대_14~17',
    '시간대_17~21_매출_금액': '시간대_17~21',
    '시간대_21~24_매출_금액': '시간대_21~24'
})

# 시간대별 컬럼명 리스트
hourly_columns = ['시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24']

# 시간대별로 해당 값이 있는지 여부를 1 또는 0으로 설정
for column in hourly_columns:
    estimatedrevenue_data[column] = (estimatedrevenue_data['시간대'] == column).astype(int)

estimatedrevenue_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,시간대,시간대_매출금액,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24
0,20201,R,전통시장,3130214,송화벽화시장(송화골목시장),CS100010,커피-음료,시간대_00~06,0,1,0,0,0,0,0
1,20201,D,발달상권,3120037,동대문역사문화공원역,CS300043,전자상거래업,시간대_00~06,0,1,0,0,0,0,0
2,20201,A,골목상권,3110297,경동고등학교,CS300010,반찬가게,시간대_00~06,0,1,0,0,0,0,0
3,20201,A,골목상권,3110227,답십리공원,CS300011,일반의류,시간대_00~06,0,1,0,0,0,0,0
4,20201,A,골목상권,3110294,서경대학교,CS300011,일반의류,시간대_00~06,0,1,0,0,0,0,0

In [317]:
estimatedrevenue_data = estimatedrevenue_data.drop(columns=['시간대'])
estimatedrevenue_data.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,시간대_매출금액,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24
0,20201,R,전통시장,3130214,송화벽화시장(송화골목시장),CS100010,커피-음료,0,1,0,0,0,0,0
1,20201,D,발달상권,3120037,동대문역사문화공원역,CS300043,전자상거래업,0,1,0,0,0,0,0
2,20201,A,골목상권,3110297,경동고등학교,CS300010,반찬가게,0,1,0,0,0,0,0
3,20201,A,골목상권,3110227,답십리공원,CS300011,일반의류,0,1,0,0,0,0,0
4,20201,A,골목상권,3110294,서경대학교,CS300011,일반의류,0,1,0,0,0,0,0

# 공통 컬럼 찾기

In [345]:
columns_list = [
    list(area_data.columns),
    list(road_data.columns),
    list(resident_data.columns),
    list(income_data.columns),
    list(workforce_data.columns),
    list(public_data.columns),
    list(estimatedrevenue_data.columns)
]

# 컬럼명 리스트를 하나의 데이터프레임으로 변환
columns_df = pd.DataFrame(columns_list)
columns_df = columns_df.transpose()

columns_df

,0,1,2,3,4,5,6
0,상권_구분_코드,기준_년분기_코드,기준_년분기_코드,기준_년분기_코드,기준_년분기_코드,기준_년분기_코드,기준_년분기_코드
1,상권_구분_코드_명,상권_구분_코드,상권_구분_코드,상권_구분_코드,상권_구분_코드,상권_구분_코드,상권_구분_코드
2,상권_코드,상권_구분_코드_명,상권_구분_코드_명,상권_구분_코드_명,상권_구분_코드_명,상권_구분_코드_명,상권_구분_코드_명
3,상권_코드_명,상권_코드,상권_코드,상권_코드,상권_코드,상권_코드,상권_코드
4,자치구_코드,상권_코드_명,상권_코드_명,상권_코드_명,상권_코드_명,상권_코드_명,상권_코드_명
5,자치구_코드_명,시간대_유동인구_수,총_상주인구_수,월_평균_소득_금액,총_직장_인구_수,집객시설_수,서비스_업종_코드
6,행정동_코드,시간대_00~06,총_가구_수,소득_구간_코드,None,None,서비스_업종_코드_명
7,행정동_코드_명,시간대_06~11,None,지출_총금액,None,None,시간대_매출금액
8,None,시간대_11~14,None,None,None,None,시간대_00~06
9,None,시간대_14~17,None,None,None,None,시간대_06~11
10,None,시간대_17~21,None,None,None,None,시간대_11~14
11,None,시간대_21~24,None,None,None,None,시간대_14~17
12,None,평일_유동인구_수_평균,None,None,None,None,시간대_17~21
13,None,주말_유동인구_수_평균,None,None,None,None,시간대_21~24

## 데이터 merge

### 우선 area_data와 road_data merge

In [349]:
# 모든 데이터프레임의 컬럼명을 세트로 변환하여 리스트에 저장
dataframes = [area_data, road_data]
column_sets = [set(df.columns) for df in dataframes]

# 모든 데이터프레임의 컬럼명의 교집합(공통된 컬럼)을 추출
common_columns = set.intersection(*column_sets)

# 공통된 컬럼 출력
print("공통된 컬럼:", common_columns)

공통된 컬럼: {'상권_코드', '상권_코드_명', '상권_구분_코드', '상권_구분_코드_명'}

In [350]:
merged_area_road = pd.merge(area_data, road_data, on=['상권_구분_코드_명', '상권_코드_명', '상권_코드', '상권_구분_코드'], how='outer')
print(list(merged_area_road.columns))
merged_area_road.head()

['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드', '자치구_코드_명', '행정동_코드', '행정동_코드_명', '기준_년분기_코드', '시간대_유동인구_수', '시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24', '평일_유동인구_수_평균', '주말_유동인구_수_평균']

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,기준_년분기_코드,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,평일_유동인구_수_평균,주말_유동인구_수_평균
0,A,골목상권,3110346,4.19민주묘지역 2번,11305.0,강북구,11305645.0,우이동,20233.0,324417.0,1.0,0.0,0.0,0.0,0.0,0.0,150009.6,157418.0
1,A,골목상권,3110346,4.19민주묘지역 2번,11305.0,강북구,11305645.0,우이동,20232.0,335105.0,1.0,0.0,0.0,0.0,0.0,0.0,157787.0,159881.5
2,A,골목상권,3110346,4.19민주묘지역 2번,11305.0,강북구,11305645.0,우이동,20231.0,252808.0,1.0,0.0,0.0,0.0,0.0,0.0,129311.4,130426.5
3,A,골목상권,3110346,4.19민주묘지역 2번,11305.0,강북구,11305645.0,우이동,20224.0,170095.0,1.0,0.0,0.0,0.0,0.0,0.0,105859.2,104962.0
4,A,골목상권,3110346,4.19민주묘지역 2번,11305.0,강북구,11305645.0,우이동,20223.0,166295.0,1.0,0.0,0.0,0.0,0.0,0.0,102252.2,102765.0

In [351]:
merged_area_road.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188077 entries, 0 to 188076
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   상권_구분_코드      188077 non-null  object
 1   상권_구분_코드_명    188077 non-null  object
 2   상권_코드         188077 non-null  int64
 3   상권_코드_명       188077 non-null  object
 4   자치구_코드        187963 non-null  float64
 5   자치구_코드_명      187963 non-null  object
 6   행정동_코드        187963 non-null  float64
 7   행정동_코드_명      187963 non-null  object
 8   기준_년분기_코드     188076 non-null  float64
 9   시간대_유동인구_수    188076 non-null  float64
 10  시간대_00~06     188076 non-null  float64
 11  시간대_06~11     188076 non-null  float64
 12  시간대_11~14     188076 non-null  float64
 13  시간대_14~17     188076 non-null  float64
 14  시간대_17~21     188076 non-null  float64
 15  시간대_21~24     188076 non-null  float64
 16  평일_유동인구_수_평균  188076 non-null  float64
 17  주말_유동인구_수_평균  188076 non-null  float64
dtypes: float64(12), int64(1), object(5)
memory usage: 25.8+ MB

In [352]:
merged_area_road.isnull().sum()

상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
자치구_코드          114
자치구_코드_명        114
행정동_코드          114
행정동_코드_명        114
기준_년분기_코드         1
시간대_유동인구_수        1
시간대_00~06         1
시간대_06~11         1
시간대_11~14         1
시간대_14~17         1
시간대_17~21         1
시간대_21~24         1
평일_유동인구_수_평균      1
주말_유동인구_수_평균      1
dtype: int64

In [353]:
merged_area_road.loc[merged_area_road['자치구_코드'].isnull(), : ]

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,기준_년분기_코드,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,평일_유동인구_수_평균,주말_유동인구_수_평균
124806,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,854360.0,1.0,0.0,0.0,0.0,0.0,0.0,1335053.6,838875.0
124807,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,880985.0,1.0,0.0,0.0,0.0,0.0,0.0,1364795.6,878314.0
124808,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,855100.0,1.0,0.0,0.0,0.0,0.0,0.0,1351365.6,873072.5
124809,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,903657.0,1.0,0.0,0.0,0.0,0.0,0.0,1366723.6,912104.5
124810,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,889136.0,1.0,0.0,0.0,0.0,0.0,0.0,1334812.4,864976.0
124811,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,914434.0,1.0,0.0,0.0,0.0,0.0,0.0,1388308.6,937326.0
124812,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,830045.0,1.0,0.0,0.0,0.0,0.0,0.0,1234608.8,774747.0
124813,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,887872.0,1.0,0.0,0.0,0.0,0.0,0.0,1315237.0,845218.0
124814,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,780847.0,1.0,0.0,0.0,0.0,0.0,0.0,1203231.0,733760.0
124815,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,831140.0,1.0,0.0,0.0,0.0,0.0,0.0,1348679.4,808093.0
124816,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,771433.0,1.0,0.0,0.0,0.0,0.0,0.0,1234698.6,724906.0
124817,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,861068.0,1.0,0.0,0.0,0.0,0.0,0.0,1293100.4,750916.0
124818,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,880304.0,1.0,0.0,0.0,0.0,0.0,0.0,1319355.6,769212.5
124819,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,933775.0,1.0,0.0,0.0,0.0,0.0,0.0,1388387.2,809960.5
124820,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,936095.0,1.0,0.0,0.0,0.0,0.0,0.0,1397722.0,836734.5
124821,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,1124449.0,1.0,0.0,0.0,0.0,0.0,0.0,1643867.6,1140877.0
124822,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,1141726.0,1.0,0.0,0.0,0.0,0.0,0.0,1636477.6,1081021.0
124823,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,1150224.0,1.0,0.0,0.0,0.0,0.0,0.0,1707395.6,1179699.0
124824,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,1124792.0,1.0,0.0,0.0,0.0,0.0,0.0,1708712.0,1196697.5
124825,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,1660233.0,0.0,1.0,0.0,0.0,0.0,0.0,1335053.6,838875.0
124826,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,1678321.0,0.0,1.0,0.0,0.0,0.0,0.0,1364795.6,878314.0
124827,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,1614425.0,0.0,1.0,0.0,0.0,0.0,0.0,1351365.6,873072.5
124828,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,1653054.0,0.0,1.0,0.0,0.0,0.0,0.0,1366723.6,912104.5
124829,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,1649452.0,0.0,1.0,0.0,0.0,0.0,0.0,1334812.4,864976.0
124830,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,1714738.0,0.0,1.0,0.0,0.0,0.0,0.0,1388308.6,937326.0
124831,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,1527420.0,0.0,1.0,0.0,0.0,0.0,0.0,1234608.8,774747.0
124832,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,1604260.0,0.0,1.0,0.0,0.0,0.0,0.0,1315237.0,845218.0
124833,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,1523914.0,0.0,1.0,0.0,0.0,0.0,0.0,1203231.0,733760.0
124834,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,1659789.0,0.0,1.0,0.0,0.0,0.0,0.0,1348679.4,808093.0
124835,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,1505994.0,0.0,1.0,0.0,0.0,0.0,0.0,1234698.6,724906.0
124836,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,1570368.0,0.0,1.0,0.0,0.0,0.0,0.0,1293100.4,750916.0
124837,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,1602354.0,0.0,1.0,0.0,0.0,0.0,0.0,1319355.6,769212.5
124838,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,1647514.0,0.0,1.0,0.0,0.0,0.0,0.0,1388387.2,809960.5
124839,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,1622093.0,0.0,1.0,0.0,0.0,0.0,0.0,1397722.0,836734.5
124840,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,1820508.0,0.0,1.0,0.0,0.0,0.0,0.0,1643867.6,1140877.0
124841,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,1856919.0,0.0,1.0,0.0,0.0,0.0,0.0,1636477.6,1081021.0
124842,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,1934702.0,0.0,1.0,0.0,0.0,0.0,0.0,1707395.6,1179699.0
124843,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,1887858.0,0.0,1.0,0.0,0.0,0.0,0.0,1708712.0,1196697.5
124844,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,1757007.0,0.0,0.0,1.0,0.0,0.0,0.0,1335053.6,838875.0
124845,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,1815991.0,0.0,0.0,1.0,0.0,0.0,0.0,1364795.6,878314.0
124846,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,1819068.0,0.0,0.0,1.0,0.0,0.0,0.0,1351365.6,873072.5
124847,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,1825114.0,0.0,0.0,1.0,0.0,0.0,0.0,1366723.6,912104.5
124848,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,1760392.0,0.0,0.0,1.0,0.0,0.0,0.0,1334812.4,864976.0
124849,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,1852375.0,0.0,0.0,1.0,0.0,0.0,0.0,1388308.6,937326.0
124850,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,1640397.0,0.0,0.0,1.0,0.0,0.0,0.0,1234608.8,774747.0
124851,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,1751053.0,0.0,0.0,1.0,0.0,0.0,0.0,1315237.0,845218.0
124852,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,1624449.0,0.0,0.0,1.0,0.0,0.0,0.0,1203231.0,733760.0
124853,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,1795942.0,0.0,0.0,1.0,0.0,0.0,0.0,1348679.4,808093.0
124854,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,1647656.0,0.0,0.0,1.0,0.0,0.0,0.0,1234698.6,724906.0
124855,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,1687649.0,0.0,0.0,1.0,0.0,0.0,0.0,1293100.4,750916.0
124856,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,1709902.0,0.0,0.0,1.0,0.0,0.0,0.0,1319355.6,769212.5
124857,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,1790660.0,0.0,0.0,1.0,0.0,0.0,0.0,1388387.2,809960.5
124858,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,1798654.0,0.0,0.0,1.0,0.0,0.0,0.0,1397722.0,836734.5
124859,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,2141438.0,0.0,0.0,1.0,0.0,0.0,0.0,1643867.6,1140877.0
124860,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,2094086.0,0.0,0.0,1.0,0.0,0.0,0.0,1636477.6,1081021.0
124861,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,2239274.0,0.0,0.0,1.0,0.0,0.0,0.0,1707395.6,1179699.0
124862,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,2251342.0,0.0,0.0,1.0,0.0,0.0,0.0,1708712.0,1196697.5
124863,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,1773540.0,0.0,0.0,0.0,1.0,0.0,0.0,1335053.6,838875.0
124864,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,1823148.0,0.0,0.0,0.0,1.0,0.0,0.0,1364795.6,878314.0
124865,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,1856681.0,0.0,0.0,0.0,1.0,0.0,0.0,1351365.6,873072.5
124866,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,1861965.0,0.0,0.0,0.0,1.0,0.0,0.0,1366723.6,912104.5
124867,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,1779580.0,0.0,0.0,0.0,1.0,0.0,0.0,1334812.4,864976.0
124868,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,1872132.0,0.0,0.0,0.0,1.0,0.0,0.0,1388308.6,937326.0
124869,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,1685670.0,0.0,0.0,0.0,1.0,0.0,0.0,1234608.8,774747.0
124870,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,1784499.0,0.0,0.0,0.0,1.0,0.0,0.0,1315237.0,845218.0
124871,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,1633567.0,0.0,0.0,0.0,1.0,0.0,0.0,1203231.0,733760.0
124872,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,1819174.0,0.0,0.0,0.0,1.0,0.0,0.0,1348679.4,808093.0
124873,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,1699008.0,0.0,0.0,0.0,1.0,0.0,0.0,1234698.6,724906.0
124874,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,1724899.0,0.0,0.0,0.0,1.0,0.0,0.0,1293100.4,750916.0
124875,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,1740115.0,0.0,0.0,0.0,1.0,0.0,0.0,1319355.6,769212.5
124876,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,1824699.0,0.0,0.0,0.0,1.0,0.0,0.0,1388387.2,809960.5
124877,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,1866318.0,0.0,0.0,0.0,1.0,0.0,0.0,1397722.0,836734.5
124878,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,2275772.0,0.0,0.0,0.0,1.0,0.0,0.0,1643867.6,1140877.0
124879,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,2193826.0,0.0,0.0,0.0,1.0,0.0,0.0,1636477.6,1081021.0
124880,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,2358289.0,0.0,0.0,0.0,1.0,0.0,0.0,1707395.6,1179699.0
124881,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,2437343.0,0.0,0.0,0.0,1.0,0.0,0.0,1708712.0,1196697.5
124882,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,1659889.0,0.0,0.0,0.0,0.0,1.0,0.0,1335053.6,838875.0
124883,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,1715164.0,0.0,0.0,0.0,0.0,1.0,0.0,1364795.6,878314.0
124884,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,1707645.0,0.0,0.0,0.0,0.0,1.0,0.0,1351365.6,873072.5
124885,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,1729022.0,0.0,0.0,0.0,0.0,1.0,0.0,1366723.6,912104.5
124886,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,1663007.0,0.0,0.0,0.0,0.0,1.0,0.0,1334812.4,864976.0
124887,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,1763134.0,0.0,0.0,0.0,0.0,1.0,0.0,1388308.6,937326.0
124888,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,1496119.0,0.0,0.0,0.0,0.0,1.0,0.0,1234608.8,774747.0
124889,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,1620053.0,0.0,0.0,0.0,0.0,1.0,0.0,1315237.0,845218.0
124890,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,1412047.0,0.0,0.0,0.0,0.0,1.0,0.0,1203231.0,733760.0
124891,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,1659327.0,0.0,0.0,0.0,0.0,1.0,0.0,1348679.4,808093.0
124892,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,1487371.0,0.0,0.0,0.0,0.0,1.0,0.0,1234698.6,724906.0
124893,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,1528182.0,0.0,0.0,0.0,0.0,1.0,0.0,1293100.4,750916.0
124894,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,1577337.0,0.0,0.0,0.0,0.0,1.0,0.0,1319355.6,769212.5
124895,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,1686186.0,0.0,0.0,0.0,0.0,1.0,0.0,1388387.2,809960.5
124896,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,1740703.0,0.0,0.0,0.0,0.0,1.0,0.0,1397722.0,836734.5
124897,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,2235789.0,0.0,0.0,0.0,0.0,1.0,0.0,1643867.6,1140877.0
124898,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,2167405.0,0.0,0.0,0.0,0.0,1.0,0.0,1636477.6,1081021.0
124899,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,2291632.0,0.0,0.0,0.0,0.0,1.0,0.0,1707395.6,1179699.0
124900,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,2319158.0,0.0,0.0,0.0,0.0,1.0,0.0,1708712.0,1196697.5
124901,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20233.0,647989.0,0.0,0.0,0.0,0.0,0.0,1.0,1335053.6,838875.0
124902,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20232.0,666997.0,0.0,0.0,0.0,0.0,0.0,1.0,1364795.6,878314.0
124903,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20231.0,650054.0,0.0,0.0,0.0,0.0,0.0,1.0,1351365.6,873072.5
124904,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20224.0,685015.0,0.0,0.0,0.0,0.0,0.0,1.0,1366723.6,912104.5
124905,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20223.0,662448.0,0.0,0.0,0.0,0.0,0.0,1.0,1334812.4,864976.0
124906,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20222.0,699382.0,0.0,0.0,0.0,0.0,0.0,1.0,1388308.6,937326.0
124907,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20221.0,542888.0,0.0,0.0,0.0,0.0,0.0,1.0,1234608.8,774747.0
124908,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20214.0,618887.0,0.0,0.0,0.0,0.0,0.0,1.0,1315237.0,845218.0
124909,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20213.0,508848.0,0.0,0.0,0.0,0.0,0.0,1.0,1203231.0,733760.0
124910,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20212.0,594212.0,0.0,0.0,0.0,0.0,0.0,1.0,1348679.4,808093.0
124911,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20211.0,511841.0,0.0,0.0,0.0,0.0,0.0,1.0,1234698.6,724906.0
124912,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20204.0,595169.0,0.0,0.0,0.0,0.0,0.0,1.0,1293100.4,750916.0
124913,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20203.0,625190.0,0.0,0.0,0.0,0.0,0.0,1.0,1319355.6,769212.5
124914,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20202.0,679022.0,0.0,0.0,0.0,0.0,0.0,1.0,1388387.2,809960.5
124915,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20201.0,698216.0,0.0,0.0,0.0,0.0,0.0,1.0,1397722.0,836734.5
124916,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20194.0,903135.0,0.0,0.0,0.0,0.0,0.0,1.0,1643867.6,1140877.0
124917,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20193.0,890467.0,0.0,0.0,0.0,0.0,0.0,1.0,1636477.6,1081021.0
124918,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20192.0,922254.0,0.0,0.0,0.0,0.0,0.0,1.0,1707395.6,1179699.0
124919,U,관광특구,3001494,종로?청계 관광특구,NaN,NaN,NaN,NaN,20191.0,916464.0,0.0,0.0,0.0,0.0,0.0,1.0,1708712.0,1196697.5

- 어차피 null값이 강남구와 상관없는 상권이어 drop

In [354]:
merged_area_road = merged_area_road.dropna(axis=0)

In [355]:
merged_area_road.isnull().sum().sum()

0

### merged_area_road 데이터와 estimatedrevenue_data 데이터 merge()

In [356]:
# 모든 데이터프레임의 컬럼명을 세트로 변환하여 리스트에 저장
dataframes = [merged_area_road, estimatedrevenue_data]
column_sets = [set(df.columns) for df in dataframes]

# 모든 데이터프레임의 컬럼명의 교집합(공통된 컬럼)을 추출
common_columns = set.intersection(*column_sets)

# 공통된 컬럼 출력
print("공통된 컬럼:", common_columns)

공통된 컬럼: {'상권_구분_코드', '상권_코드', '시간대_11~14', '시간대_00~06', '시간대_21~24', '상권_구분_코드_명', '시간대_06~11', '상권_코드_명', '기준_년분기_코드', '시간대_17~21', '시간대_14~17'}

In [357]:
merged_area_road_revenue = pd.merge(merged_area_road, estimatedrevenue_data, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24'], how='outer')
print(list(merged_area_road_revenue.columns))
merged_area_road_revenue.head()

['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드', '자치구_코드_명', '행정동_코드', '행정동_코드_명', '기준_년분기_코드', '시간대_유동인구_수', '시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24', '평일_유동인구_수_평균', '주말_유동인구_수_평균', '서비스_업종_코드', '서비스_업종_코드_명', '시간대_매출금액']

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,기준_년분기_코드,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,평일_유동인구_수_평균,주말_유동인구_수_평균,서비스_업종_코드,서비스_업종_코드_명,시간대_매출금액
0,A,골목상권,3110001,이북5도청사,11110.0,종로구,11110560.0,평창동,20191.0,19199.0,0.0,0.0,0.0,0.0,0.0,1.0,21654.2,23704.0,NaN,NaN,NaN
1,A,골목상권,3110001,이북5도청사,11110.0,종로구,11110560.0,평창동,20191.0,22780.0,0.0,0.0,0.0,0.0,1.0,0.0,21654.2,23704.0,NaN,NaN,NaN
2,A,골목상권,3110001,이북5도청사,11110.0,종로구,11110560.0,평창동,20191.0,17671.0,0.0,0.0,0.0,1.0,0.0,0.0,21654.2,23704.0,NaN,NaN,NaN
3,A,골목상권,3110001,이북5도청사,11110.0,종로구,11110560.0,평창동,20191.0,18405.0,0.0,0.0,1.0,0.0,0.0,0.0,21654.2,23704.0,NaN,NaN,NaN
4,A,골목상권,3110001,이북5도청사,11110.0,종로구,11110560.0,평창동,20191.0,34450.0,0.0,1.0,0.0,0.0,0.0,0.0,21654.2,23704.0,NaN,NaN,NaN

### merged_area_road_revenue데이터와 나머지 데이터 merge()

In [361]:
# 모든 데이터프레임의 컬럼명을 세트로 변환하여 리스트에 저장
dataframes = [merged_area_road_revenue, workforce_data, public_data, resident_data, income_data]
column_sets = [set(df.columns) for df in dataframes]

# 모든 데이터프레임의 컬럼명의 교집합(공통된 컬럼)을 추출
common_columns = set.intersection(*column_sets)

# 공통된 컬럼 출력
print("공통된 컬럼:", common_columns)

공통된 컬럼: {'상권_구분_코드', '상권_코드', '상권_구분_코드_명', '상권_코드_명', '기준_년분기_코드'}

In [363]:
merged_df = pd.merge(merged_area_road_revenue, workforce_data, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='outer')
merged_df = pd.merge(merged_df, public_data, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='outer')
merged_df = pd.merge(merged_df, resident_data, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='outer')
merged_df = pd.merge(merged_df, income_data, on=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명'], how='outer')

In [364]:
merged_df.shape

(1897546, 28)

In [365]:
merged_df.isnull().sum()

상권_구분_코드             0
상권_구분_코드_명           0
상권_코드                0
상권_코드_명              0
자치구_코드            4984
자치구_코드_명          4984
행정동_코드            4984
행정동_코드_명          4984
기준_년분기_코드            0
시간대_유동인구_수        4984
시간대_00~06           16
시간대_06~11           16
시간대_11~14           16
시간대_14~17           16
시간대_17~21           16
시간대_21~24           16
평일_유동인구_수_평균      4984
주말_유동인구_수_평균      4984
서비스_업종_코드        48088
서비스_업종_코드_명      48088
시간대_매출금액         48088
총_직장_인구_수        29534
집객시설_수          416197
총_상주인구_수         41853
총_가구_수           41853
월_평균_소득_금액       49326
소득_구간_코드         49326
지출_총금액           49326
dtype: int64

- 우선 필요한 컬럼 추출 후 결측치 처리

# 컬럼 추출

### 자치구가 강남구인 컬럼만 추출

In [366]:
merged_df = merged_df.loc[merged_df['자치구_코드_명'] == '강남구', :]
merged_df.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,기준_년분기_코드,시간대_유동인구_수,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,평일_유동인구_수_평균,주말_유동인구_수_평균,서비스_업종_코드,서비스_업종_코드_명,시간대_매출금액,총_직장_인구_수,집객시설_수,총_상주인구_수,총_가구_수,월_평균_소득_금액,소득_구간_코드,지출_총금액
5688,A,골목상권,3110949,한남IC,11680.0,강남구,11680510.0,신사동,20191.0,42632.0,0.0,0.0,0.0,0.0,0.0,1.0,58792.0,49903.0,NaN,NaN,NaN,1251.0,NaN,NaN,NaN,4198922.0,8.0,337670218.0
5689,A,골목상권,3110949,한남IC,11680.0,강남구,11680510.0,신사동,20191.0,78164.0,0.0,0.0,0.0,0.0,1.0,0.0,58792.0,49903.0,NaN,NaN,NaN,1251.0,NaN,NaN,NaN,4198922.0,8.0,337670218.0
5690,A,골목상권,3110949,한남IC,11680.0,강남구,11680510.0,신사동,20191.0,65984.0,0.0,0.0,0.0,1.0,0.0,0.0,58792.0,49903.0,NaN,NaN,NaN,1251.0,NaN,NaN,NaN,4198922.0,8.0,337670218.0
5691,A,골목상권,3110949,한남IC,11680.0,강남구,11680510.0,신사동,20191.0,60612.0,0.0,0.0,1.0,0.0,0.0,0.0,58792.0,49903.0,NaN,NaN,NaN,1251.0,NaN,NaN,NaN,4198922.0,8.0,337670218.0
5692,A,골목상권,3110949,한남IC,11680.0,강남구,11680510.0,신사동,20191.0,72705.0,0.0,1.0,0.0,0.0,0.0,0.0,58792.0,49903.0,NaN,NaN,NaN,1251.0,NaN,NaN,NaN,4198922.0,8.0,337670218.0

In [367]:
merged_df['자치구_코드_명'].value_counts()

자치구_코드_명
강남구    156510
Name: count, dtype: int64

In [368]:
merged_df.shape

(156510, 28)

### 2021~20233분기까지의 데이터만 추출

In [369]:
merged_df['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20191.0      618
20192.0      618
20193.0      618
20194.0      618
20201.0     9966
20202.0     9984
20203.0    10098
20204.0    10086
20211.0    10086
20212.0    10284
20213.0    10284
20214.0    10356
20221.0    10314
20222.0    10404
20223.0    10452
20224.0    10428
20231.0    10440
20232.0    10506
20233.0    10350
Name: count, dtype: int64

In [370]:
codes_to_remove = [20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204]
merged_df = merged_df[~merged_df['기준_년분기_코드'].isin(codes_to_remove)]

In [371]:
merged_df['기준_년분기_코드'].value_counts().sort_index()

기준_년분기_코드
20211.0    10086
20212.0    10284
20213.0    10284
20214.0    10356
20221.0    10314
20222.0    10404
20223.0    10452
20224.0    10428
20231.0    10440
20232.0    10506
20233.0    10350
Name: count, dtype: int64

In [372]:
merged_df.shape

(113904, 28)

### 서비스_업종_코드_명이 '편의점'인 것만 추출

In [373]:
merged_df = merged_df.loc[merged_df['서비스_업종_코드_명'] == '편의점', :]
merged_df = merged_df.reset_index(drop=True)

In [374]:
merged_df['서비스_업종_코드_명'].value_counts()

서비스_업종_코드_명
편의점    3930
Name: count, dtype: int64

# 최종데이터 순서 변경 및 분기 구분

### 컬럼 순서 변경

In [383]:
list(merged_df.columns)

['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '기준_년분기_코드',
 '시간대_유동인구_수',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '서비스_업종_코드',
 '서비스_업종_코드_명',
 '시간대_매출금액',
 '총_직장_인구_수',
 '집객시설_수',
 '총_상주인구_수',
 '총_가구_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액']

In [384]:
new_columns_order = ['기준_년분기_코드',
'상권_구분_코드',
'상권_구분_코드_명',
'상권_코드',
'상권_코드_명',
'자치구_코드',
'자치구_코드_명',
'행정동_코드',
'행정동_코드_명',
'시간대_00~06',
'시간대_06~11',
'시간대_11~14',
'시간대_14~17',
'시간대_17~21',
'시간대_21~24',
'시간대_매출금액',
'시간대_유동인구_수',
'평일_유동인구_수_평균',
'주말_유동인구_수_평균',
'총_직장_인구_수',
'총_상주인구_수',
'총_가구_수',
'집객시설_수',
'월_평균_소득_금액',
'소득_구간_코드',
'지출_총금액',
'서비스_업종_코드',
'서비스_업종_코드_명']

merged_df = merged_df.reindex(columns=new_columns_order)

list(merged_df.columns)

['기준_년분기_코드',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '시간대_매출금액',
 '시간대_유동인구_수',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '총_직장_인구_수',
 '총_상주인구_수',
 '총_가구_수',
 '집객시설_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '서비스_업종_코드',
 '서비스_업종_코드_명']

### '기준_년분기_코드' 구분

In [385]:
merged_df.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,서비스_업종_코드,서비스_업종_코드_명
0,20211.0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점
1,20211.0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점
2,20211.0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점
3,20211.0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점
4,20211.0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점

In [389]:
merged_df['기준_년분기_코드'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3930 entries, 0 to 3929
Series name: 기준_년분기_코드
Non-Null Count  Dtype
--------------  -----
3930 non-null   object
dtypes: object(1)
memory usage: 30.8+ KB

In [390]:
merged_df['기준_년분기_코드'] = merged_df['기준_년분기_코드'].astype(str).str.rstrip('.0')

In [394]:
# '기준_년분기_코드'를 문자열로 변환하여 기준_년과 기준_분기로 분리
merged_df['기준_년분기_코드'] = merged_df['기준_년분기_코드'].astype(str)

# '기준_년분기_코드'에서 기준_년과 기준_분기 추출
merged_df['기준_년'] = merged_df['기준_년분기_코드'].str[:4]
merged_df['기준_분기'] = merged_df['기준_년분기_코드'].str[-1]

merged_df.head()

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,서비스_업종_코드,서비스_업종_코드_명,기준_년,기준_분기
0,20211,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점,2021,1
1,20211,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점,2021,1
2,20211,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점,2021,1
3,20211,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점,2021,1
4,20211,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,CS300002,편의점,2021,1

#### 불필요한 컬럼 제거 
-  기준_년분기_코드, 서비스_업종_코드, 서비스_업종_코드_명

In [395]:
columns_to_drop = ['기준_년분기_코드', '서비스_업종_코드', '서비스_업종_코드_명']  # 삭제할 컬럼들의 이름 리스트
merged_df.drop(columns=columns_to_drop, inplace=True)

merged_df.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,기준_년,기준_분기
0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,1
1,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,1
2,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,1
3,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,1
4,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,1

In [396]:
list(merged_df.columns)

['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '시간대_매출금액',
 '시간대_유동인구_수',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '총_직장_인구_수',
 '총_상주인구_수',
 '총_가구_수',
 '집객시설_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '기준_년',
 '기준_분기']

In [397]:
# 시간대 컬럼을 기준으로 데이터 재구성
merged_df = merged_df.melt(id_vars=['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '시간대_매출금액',
 '시간대_유동인구_수',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '총_직장_인구_수',
 '총_상주인구_수',
 '총_가구_수',
 '집객시설_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '기준_년'], 
                        var_name='기준_분기', value_name='기준_분기_값')

In [398]:
merged_df.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,기준_년,기준_분기,기준_분기_값
0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1
1,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1
2,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1
3,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1
4,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1

In [399]:
merged_df['기준_분기_값'].value_counts()

기준_분기_값
2    1074
3    1068
1    1062
4     726
Name: count, dtype: int64

In [400]:
# '기준_분기_값' 컬럼 값을 변경하여 기준_분기를 더 직관적으로 표현
merged_df['기준_분기_값'] = merged_df['기준_분기_값'].replace({
    '1': '1분기',
    '2': '2분기',
    '3': '3분기',
    '4': '4분기'
})

# 시간대별 컬럼명 리스트
hourly_columns = ['1분기', '2분기', '3분기', '4분기']

# 시간대별로 해당 값이 있는지 여부를 1 또는 0으로 설정
for column in hourly_columns:
    merged_df[column] = (merged_df['기준_분기_값'] == column).astype(int)

merged_df.head()

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,기준_년,기준_분기,기준_분기_값,1분기,2분기,3분기,4분기
0,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1분기,1,0,0,0
1,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1분기,1,0,0,0
2,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1분기,1,0,0,0
3,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1분기,1,0,0,0
4,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,2021,기준_분기,1분기,1,0,0,0

In [404]:
merged_df['4분기'].value_counts()

4분기
0    3204
1     726
Name: count, dtype: int64

### 컬럼 순서 변경하고 불필요한 컬럼 제거

In [406]:
list(merged_df.columns)

['상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '시간대_매출금액',
 '시간대_유동인구_수',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '총_직장_인구_수',
 '총_상주인구_수',
 '총_가구_수',
 '집객시설_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '기준_년',
 '기준_분기',
 '기준_분기_값',
 '1분기',
 '2분기',
 '3분기',
 '4분기']

In [407]:
# 순서 변경

new_columns_order = ['기준_년',
                     '상권_구분_코드',
                     '상권_구분_코드_명',
                     '상권_코드',
                     '상권_코드_명',
                     '자치구_코드',
                     '자치구_코드_명',
                     '행정동_코드',
                     '행정동_코드_명',
                     '1분기',
                     '2분기',
                     '3분기',
                     '4분기',
                     '시간대_00~06',
                     '시간대_06~11',
                     '시간대_11~14',
                     '시간대_14~17',
                     '시간대_17~21',
                     '시간대_21~24',
                     '시간대_매출금액',
                     '시간대_유동인구_수',
                     '평일_유동인구_수_평균',
                     '주말_유동인구_수_평균',
                     '총_직장_인구_수',
                     '총_상주인구_수',
                     '총_가구_수',
                     '집객시설_수',
                     '월_평균_소득_금액',
                     '소득_구간_코드',
                     '지출_총금액',
                     '기준_분기_코드',
                     '기준_분기_값']

merged_df = merged_df.reindex(columns=new_columns_order)

list(merged_df.columns)

['기준_년',
 '상권_구분_코드',
 '상권_구분_코드_명',
 '상권_코드',
 '상권_코드_명',
 '자치구_코드',
 '자치구_코드_명',
 '행정동_코드',
 '행정동_코드_명',
 '1분기',
 '2분기',
 '3분기',
 '4분기',
 '시간대_00~06',
 '시간대_06~11',
 '시간대_11~14',
 '시간대_14~17',
 '시간대_17~21',
 '시간대_21~24',
 '시간대_매출금액',
 '시간대_유동인구_수',
 '평일_유동인구_수_평균',
 '주말_유동인구_수_평균',
 '총_직장_인구_수',
 '총_상주인구_수',
 '총_가구_수',
 '집객시설_수',
 '월_평균_소득_금액',
 '소득_구간_코드',
 '지출_총금액',
 '기준_분기_코드',
 '기준_분기_값']

In [408]:
#불필요한 컬럼 제거
columns_to_drop = ['기준_분기_코드', '기준_분기_값']  # 삭제할 컬럼들의 이름 리스트
merged_df.drop(columns=columns_to_drop, inplace=True)

merged_df.head()

,기준_년,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,1분기,2분기,3분기,4분기,시간대_00~06,시간대_06~11,시간대_11~14,시간대_14~17,시간대_17~21,시간대_21~24,시간대_매출금액,시간대_유동인구_수,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액
0,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,605774191.0,344558.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09
1,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,531497598.0,433632.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09
2,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,230188421.0,342564.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09
3,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0,192457360.0,351383.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09
4,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,0,0,0,0.0,1.0,0.0,0.0,0.0,0.0,222467605.0,621019.0,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09

# 결측값 확인

In [409]:
merged_df.shape

(3930, 30)

In [410]:
merged_df.isnull().sum()

기준_년              0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
자치구_코드            0
자치구_코드_명          0
행정동_코드            0
행정동_코드_명          0
1분기               0
2분기               0
3분기               0
4분기               0
시간대_00~06         0
시간대_06~11         0
시간대_11~14         0
시간대_14~17         0
시간대_17~21         0
시간대_21~24         0
시간대_매출금액          0
시간대_유동인구_수        0
평일_유동인구_수_평균      0
주말_유동인구_수_평균      0
총_직장_인구_수         0
총_상주인구_수          0
총_가구_수            0
집객시설_수          132
월_평균_소득_금액      198
소득_구간_코드        198
지출_총금액          198
dtype: int64

In [413]:
missing_values =merged_df.isnull().sum().sum()

total_cells = merged_df.shape[0] * merged_df.shape[1]
missing_ratio = (missing_values.sum() / total_cells) * 100
print("\n전체 데이터셋에서 결측치 비율: {:.2f}%".format(missing_ratio))

전체 데이터셋에서 결측치 비율: 0.62%

### 결측값은 수집되지 않은 값이고, 매출이 확인되니 평균 및 같은 값 등으로 대치

In [411]:
merged_df.to_csv('data/merged_df2.csv', index=False, encoding='utf-8-sig')

# 임대료 데이터 확인

In [ ]:
rentfee = pd.read_csv('data/상가임대료(공공상가).csv')

In [ ]:
rentfee.head()

In [ ]:
rentfee_col = list(rentfee.columns)

In [ ]:
rentfee_col_split = pd.DataFrame([x.split('|') for x in rentfee_col])
list(rentfee_col_split.iloc[0, :])

In [ ]:
# '|'를 기준으로 컬럼 분리
rentfee[['strd_yr',
 'sopsrt_clsf_cd',
 'std_adstrd_cd',
 'adstrd_nm',
 'lnno_adres',
 'exche_gtn',
 'la',
 'lo',
 'data_no']] = rentfee['strd_yr|sopsrt_clsf_cd|std_adstrd_cd|adstrd_nm|lnno_adres|exche_gtn|la|lo|data_no'].str.split('|', expand=True)

# '|' 컬럼 제거
rentfee.drop(columns=['strd_yr|sopsrt_clsf_cd|std_adstrd_cd|adstrd_nm|lnno_adres|exche_gtn|la|lo|data_no'], inplace=True)

# 결과 출력
rentfee.head()

In [ ]:
rentfee2 = pd.read_csv('data/매장용빌딩+임대료·공실률+및+수익률_20240310181303.csv')
rentfee2.drop(columns=['지역별(1)'], inplace=True)

In [ ]:
rentfee2

In [ ]:
독립분석, 분산분석

In [ ]:
pd.read_csv('data/SCF_04_20230627_C_001.csv')

In [1]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2.csv')

# 결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

기준_년              0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
자치구_코드            0
자치구_코드_명          0
행정동_코드            0
행정동_코드_명          0
1분기               0
2분기               0
3분기               0
4분기               0
시간대_00~06         0
시간대_06~11         0
시간대_11~14         0
시간대_14~17         0
시간대_17~21         0
시간대_21~24         0
시간대_매출금액          0
시간대_유동인구_수        0
평일_유동인구_수_평균      0
주말_유동인구_수_평균      0
총_직장_인구_수         0
총_상주인구_수          0
총_가구_수            0
집객시설_수          132
월_평균_소득_금액      198
소득_구간_코드        198
지출_총금액          198
dtype: int64

In [2]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2.csv')

# '집객시설_수' 열의 결측치를 0으로 채우기
df['집객시설_수'].fillna(0, inplace=True)

# 수정된 데이터프레임을 CSV 파일로 저장
df.to_csv('merged_df2_filled.csv', index=False)

C:\Users\imhye\AppData\Local\Temp\ipykernel_32168\3891595903.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['집객시설_수'].fillna(0, inplace=True)

In [3]:
# 결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

기준_년              0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
자치구_코드            0
자치구_코드_명          0
행정동_코드            0
행정동_코드_명          0
1분기               0
2분기               0
3분기               0
4분기               0
시간대_00~06         0
시간대_06~11         0
시간대_11~14         0
시간대_14~17         0
시간대_17~21         0
시간대_21~24         0
시간대_매출금액          0
시간대_유동인구_수        0
평일_유동인구_수_평균      0
주말_유동인구_수_평균      0
총_직장_인구_수         0
총_상주인구_수          0
총_가구_수            0
집객시설_수            0
월_평균_소득_금액      198
소득_구간_코드        198
지출_총금액          198
dtype: int64

In [8]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled.csv')

# 월_평균_소득_금액이 결측치인 데이터의 행정동_코드_명에서 고유한 값 추출
missing_income_unique_values = df[df['월_평균_소득_금액'].isnull()]['행정동_코드_명'].unique()
print(missing_income_unique_values)

['삼성1동' '개포2동']

In [9]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled.csv')

# 행정동_코드_명이 '삼성1동'인 데이터들 필터링
samsung1_data = df[df['행정동_코드_명'] == '삼성1동']

# 삼성1동 데이터들의 월_평균_소득_금액의 평균 계산
average_income_samsung1 = samsung1_data['월_평균_소득_금액'].mean()

print("삼성1동의 월 평균 소득 금액 평균:", average_income_samsung1)

삼성1동의 월 평균 소득 금액 평균: 4255899.1875

In [10]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled.csv')

# 행정동_코드_명이 '삼성1동'인 데이터들 필터링
samsung1_data = df[df['행정동_코드_명'] == '삼성1동']

# 삼성1동 데이터들의 월_평균_소득_금액의 평균 계산
average_income_samsung1 = samsung1_data['월_평균_소득_금액'].mean()

# 결측치를 삼성1동의 평균 소득으로 채워주기
df.loc[df['행정동_코드_명'] == '삼성1동', '월_평균_소득_금액'] = df.loc[df['행정동_코드_명'] == '삼성1동', '월_평균_소득_금액'].fillna(average_income_samsung1)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('merged_df2_filled1.csv', index=False)

In [12]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled1.csv')

# 행정동_코드_명이 '개포2동'인 데이터들 필터링
gaepo2_data = df[df['행정동_코드_명'] == '개포2동']

# 개포2동 데이터들의 월_평균_소득_금액의 평균 계산
average_income_gaepo2 = gaepo2_data['월_평균_소득_금액'].mean()

# 결측치를 개포2동의 평균 소득으로 채워주기
df.loc[df['행정동_코드_명'] == '개포2동', '월_평균_소득_금액'] = df.loc[df['행정동_코드_명'] == '개포2동', '월_평균_소득_금액'].fillna(average_income_gaepo2)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('merged_df2_filled2.csv', index=False)

In [13]:
# 결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

기준_년              0
상권_구분_코드          0
상권_구분_코드_명        0
상권_코드             0
상권_코드_명           0
자치구_코드            0
자치구_코드_명          0
행정동_코드            0
행정동_코드_명          0
1분기               0
2분기               0
3분기               0
4분기               0
시간대_00~06         0
시간대_06~11         0
시간대_11~14         0
시간대_14~17         0
시간대_17~21         0
시간대_21~24         0
시간대_매출금액          0
시간대_유동인구_수        0
평일_유동인구_수_평균      0
주말_유동인구_수_평균      0
총_직장_인구_수         0
총_상주인구_수          0
총_가구_수            0
집객시설_수            0
월_평균_소득_금액        0
소득_구간_코드        198
지출_총금액          198
dtype: int64

In [15]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled2.csv')

# 행정동_코드_명이 '삼성1동'인 데이터들 필터링
samsung1_data = df[df['행정동_코드_명'] == '삼성1동']

# 삼성1동 데이터들의 소득_구간_코드의 평균 계산
average_income_code_samsung1 = samsung1_data['소득_구간_코드'].mean()

# 결측치를 삼성1동의 평균 소득_구간_코드로 채워주기
df.loc[df['행정동_코드_명'] == '삼성1동', '소득_구간_코드'] = df.loc[df['행정동_코드_명'] == '삼성1동', '소득_구간_코드'].fillna(average_income_code_samsung1)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('merged_df2_filled3.csv', index=False)

In [16]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled3.csv')

# 행정동_코드_명이 '개포2동'인 데이터들 필터링
gaepo2_data = df[df['행정동_코드_명'] == '개포2동']

# 개포2동 데이터들의 소득_구간_코드의 평균 계산
average_income_code_gaepo2 = gaepo2_data['소득_구간_코드'].mean()

# 결측치를 개포2동의 평균 소득_구간_코드로 채워주기
df.loc[df['행정동_코드_명'] == '개포2동', '소득_구간_코드'] = df.loc[df['행정동_코드_명'] == '개포2동', '소득_구간_코드'].fillna(average_income_code_gaepo2)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('merged_df2_filled4.csv', index=False)

In [17]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled4.csv')

# 행정동_코드_명이 '삼성1동'인 데이터들 필터링
samsung1_data = df[df['행정동_코드_명'] == '삼성1동']

# 삼성1동 데이터들의 지출_총금액의 평균 계산
average_spending_samsung1 = samsung1_data['지출_총금액'].mean()

# 결측치를 삼성1동의 평균 지출_총금액으로 채워주기
df.loc[df['행정동_코드_명'] == '삼성1동', '지출_총금액'] = df.loc[df['행정동_코드_명'] == '삼성1동', '지출_총금액'].fillna(average_spending_samsung1)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('merged_df2_filled5.csv', index=False)

In [20]:
import pandas as pd

# CSV 파일을 데이터프레임으로 불러오기
df = pd.read_csv('merged_df2_filled5.csv')

# 행정동_코드_명이 '개포2동'인 데이터들 필터링
gaepo2_data = df[df['행정동_코드_명'] == '개포2동']

# 개포2동 데이터들의 지출_총금액의 평균 계산
average_spending_gaepo2 = gaepo2_data['지출_총금액'].mean()

# 결측치를 개포2동의 평균 지출_총금액으로 채워주기
df.loc[df['행정동_코드_명'] == '개포2동', '지출_총금액'] = df.loc[df['행정동_코드_명'] == '개포2동', '지출_총금액'].fillna(average_spending_gaepo2)

# 수정된 데이터프레임을 파일로 저장
df.to_csv('real_final_data.csv', index=False)

In [19]:
# 결측치 확인
missing_values = df.isnull().sum()
print(missing_values)

기준_년            0
상권_구분_코드        0
상권_구분_코드_명      0
상권_코드           0
상권_코드_명         0
자치구_코드          0
자치구_코드_명        0
행정동_코드          0
행정동_코드_명        0
1분기             0
2분기             0
3분기             0
4분기             0
시간대_00~06       0
시간대_06~11       0
시간대_11~14       0
시간대_14~17       0
시간대_17~21       0
시간대_21~24       0
시간대_매출금액        0
시간대_유동인구_수      0
평일_유동인구_수_평균    0
주말_유동인구_수_평균    0
총_직장_인구_수       0
총_상주인구_수        0
총_가구_수          0
집객시설_수          0
월_평균_소득_금액      0
소득_구간_코드        0
지출_총금액          0
dtype: int64

In [1]:
import pandas as pd

# 파일 경로에 맞게 수정하세요
file_path = "real_final_data.csv"

# CSV 파일 불러오기
df = pd.read_csv(file_path)

,기준_년,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,1분기,...,평일_유동인구_수_평균,주말_유동인구_수_평균,총_직장_인구_수,총_상주인구_수,총_가구_수,집객시설_수,월_평균_소득_금액,소득_구간_코드,지출_총금액,quarterly_total
0,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,...,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,1
1,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,...,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,1
2,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,...,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,1
3,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,...,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,1
4,2021,A,골목상권,3110955,논현초등학교,11680.0,강남구,11680521.0,논현1동,1,...,411342.0,387722.5,3430.0,7026.0,4495.0,12.0,2909460.0,6.0,4.481561e+09,1

In [15]:
import pandas as pd

# 파일 경로에 맞게 수정하세요
file_path = "real_final_data.csv"

# CSV 파일 불러오기
df = pd.read_csv(file_path)

# 새로운 컬럼 추가 및 조건에 따라 값 할당
df['기준_분기'] = 0  # 새로운 컬럼을 모두 0으로 초기화
df.loc[df['1분기'] == 1, '기준_분기'] = 1
df.loc[df['2분기'] == 1, '기준_분기'] = 2
df.loc[df['3분기'] == 1, '기준_분기'] = 3
df.loc[df['4분기'] == 1, '기준_분기'] = 4

# 결과 확인
print(df.head(1))  # 첫 번째 행 출력

# CSV 파일로 저장
df.to_csv("real_final_data_with_quarter.csv", index=False)

   기준_년 상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명   자치구_코드 자치구_코드_명      행정동_코드  \
0  2021        A       골목상권  3110955  논현초등학교  11680.0      강남구  11680521.0

  행정동_코드_명  1분기  ...  평일_유동인구_수_평균  주말_유동인구_수_평균  총_직장_인구_수  총_상주인구_수  총_가구_수  \
0     논현1동    1  ...      411342.0      387722.5     3430.0    7026.0  4495.0

   집객시설_수  월_평균_소득_금액  소득_구간_코드        지출_총금액  기준_분기
0    12.0   2909460.0       6.0  4.481561e+09      1

[1 rows x 31 columns]

In [17]:
import pandas as pd

# 파일 경로에 맞게 수정하세요
file_path = "real_final_data_with_quarter.csv"

# CSV 파일 불러오기
df = pd.read_csv(file_path)

# 새로운 컬럼 추가 및 조건에 따라 값 할당
df['기준_분기'] = 0  # 새로운 컬럼을 모두 0으로 초기화
df.loc[df['1분기'] == 1, '기준_분기'] = 1
df.loc[df['2분기'] == 1, '기준_분기'] = 2
df.loc[df['3분기'] == 1, '기준_분기'] = 3
df.loc[df['4분기'] == 1, '기준_분기'] = 4

# 1분기, 2분기, 3분기, 4분기 컬럼 삭제
df.drop(columns=['1분기', '2분기', '3분기', '4분기'], inplace=True)

# 결과 확인
print(df.head(1))  # 첫 번째 행 출력

# CSV 파일로 저장
df.to_csv("real_final_data_with_quarter_drop.csv", index=False)

   기준_년 상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명   자치구_코드 자치구_코드_명      행정동_코드  \
0  2021        A       골목상권  3110955  논현초등학교  11680.0      강남구  11680521.0

  행정동_코드_명  시간대_00~06  ...  평일_유동인구_수_평균  주말_유동인구_수_평균  총_직장_인구_수  총_상주인구_수  \
0     논현1동        0.0  ...      411342.0      387722.5     3430.0    7026.0

   총_가구_수  집객시설_수  월_평균_소득_금액  소득_구간_코드        지출_총금액  기준_분기
0  4495.0    12.0   2909460.0       6.0  4.481561e+09      1

[1 rows x 27 columns]

In [33]:
# 컬럼명 추출
columns = df.columns

# 결과 출력
print(columns)

Index(['기준_년', '기준_분기', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드',
       '자치구_코드_명', '행정동_코드', '행정동_코드_명', '시간대_00~06', '시간대_06~11', '시간대_11~14',
       '시간대_14~17', '시간대_17~21', '시간대_21~24', '시간대_매출금액', '시간대_유동인구_수',
       '평일_유동인구_수_평균', '주말_유동인구_수_평균', '총_직장_인구_수', '총_상주인구_수', '총_가구_수',
       '집객시설_수', '월_평균_소득_금액', '소득_구간_코드', '지출_총금액'],
      dtype='object')

In [19]:
# 컬럼 순서 변경
new_columns_order = ['기준_년', '기준_분기', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드',
                     '자치구_코드_명', '행정동_코드', '행정동_코드_명', '시간대_00~06', '시간대_06~11', '시간대_11~14',
                     '시간대_14~17', '시간대_17~21', '시간대_21~24', '시간대_매출금액', '시간대_유동인구_수',
                     '평일_유동인구_수_평균', '주말_유동인구_수_평균', '총_직장_인구_수', '총_상주인구_수', '총_가구_수',
                     '집객시설_수', '월_평균_소득_금액', '소득_구간_코드', '지출_총금액']

df = df.reindex(columns=new_columns_order)

# 결과 확인
print(df.head(1))  # 첫 번째 행 출력

# CSV 파일로 저장
df.to_csv("real_final_data_reordered.csv", index=False)

   기준_년  기준_분기 상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명   자치구_코드 자치구_코드_명  \
0  2021      1        A       골목상권  3110955  논현초등학교  11680.0      강남구

       행정동_코드 행정동_코드_명  ...  시간대_유동인구_수  평일_유동인구_수_평균  주말_유동인구_수_평균  \
0  11680521.0     논현1동  ...    344558.0      411342.0      387722.5

   총_직장_인구_수  총_상주인구_수  총_가구_수  집객시설_수  월_평균_소득_금액  소득_구간_코드        지출_총금액
0     3430.0    7026.0  4495.0    12.0   2909460.0       6.0  4.481561e+09

[1 rows x 27 columns]

In [20]:
import pandas as pd

# 파일 경로에 맞게 수정하세요
file_path = "data/real_final_data_reordered.csv"

# CSV 파일 불러오기
df_reordered = pd.read_csv(file_path)

In [31]:
import pandas as pd
import numpy as np

# 파일 경로에 맞게 수정하세요
file_path = "data/real_final_data_reordered.csv"

# CSV 파일 불러오기
df_reordered = pd.read_csv(file_path)

# 새로운 시간대 컬럼 추가
df_reordered['시간대'] = ''

conditions = [
    (df_reordered['시간대_00~06'] == 1),
    (df_reordered['시간대_06~11'] == 1),
    (df_reordered['시간대_11~14'] == 1),
    (df_reordered['시간대_14~17'] == 1),
    (df_reordered['시간대_17~21'] == 1),
    (df_reordered['시간대_21~24'] == 1)
]

choices = ['00~06', '06~11', '11~14', '14~17', '17~21', '21~24']

df_reordered['시간대'] = np.select(conditions, choices, default='')

# 결과 확인
print(df_reordered[['시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24', '시간대']].head())

# 수정된 DataFrame을 CSV 파일로 저장
df_reordered.to_csv("real_final_data_with_time.csv", index=False)

   시간대_00~06  시간대_06~11  시간대_11~14  시간대_14~17  시간대_17~21  시간대_21~24    시간대
0        0.0        0.0        0.0        0.0        0.0        1.0  21~24
1        0.0        0.0        0.0        0.0        1.0        0.0  17~21
2        0.0        0.0        0.0        1.0        0.0        0.0  14~17
3        0.0        0.0        1.0        0.0        0.0        0.0  11~14
4        0.0        1.0        0.0        0.0        0.0        0.0  06~11

In [32]:
# '시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24', '시간대' 컬럼 삭제
df_reordered.drop(columns=['시간대_00~06', '시간대_06~11', '시간대_11~14', '시간대_14~17', '시간대_17~21', '시간대_21~24'], inplace=True)

# 결과 확인
print(df_reordered.head(1))  # 첫 번째 행 출력

# CSV 파일로 저장
df_reordered.to_csv("real_final_data_without_time.csv", index=False)

   기준_년  기준_분기 상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명   자치구_코드 자치구_코드_명  \
0  2021      1        A       골목상권  3110955  논현초등학교  11680.0      강남구

       행정동_코드 행정동_코드_명  ...  평일_유동인구_수_평균  주말_유동인구_수_평균  총_직장_인구_수  총_상주인구_수  \
0  11680521.0     논현1동  ...      411342.0      387722.5     3430.0    7026.0

   총_가구_수  집객시설_수  월_평균_소득_금액  소득_구간_코드        지출_총금액    시간대
0  4495.0    12.0   2909460.0       6.0  4.481561e+09  21~24

[1 rows x 22 columns]

In [35]:
import pandas as pd

# 파일 경로에 맞게 수정하세요
file_path = "real_final_data_without_time.csv"

# CSV 파일 불러오기
df_without_time = pd.read_csv(file_path)

# 컬럼 추출
columns = df_without_time.columns

# 결과 출력
print(columns)

Index(['기준_년', '기준_분기', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드',
       '자치구_코드_명', '행정동_코드', '행정동_코드_명', '시간대_매출금액', '시간대_유동인구_수',
       '평일_유동인구_수_평균', '주말_유동인구_수_평균', '총_직장_인구_수', '총_상주인구_수', '총_가구_수',
       '집객시설_수', '월_평균_소득_금액', '소득_구간_코드', '지출_총금액', '시간대'],
      dtype='object')

In [36]:
# 컬럼 순서 변경
new_columns_order = ['시간대_매출금액', '기준_년', '기준_분기', '시간대', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '자치구_코드',
       '자치구_코드_명', '행정동_코드', '행정동_코드_명', '시간대_유동인구_수',
       '평일_유동인구_수_평균', '주말_유동인구_수_평균', '총_직장_인구_수', '총_상주인구_수', '총_가구_수',
       '집객시설_수', '월_평균_소득_금액', '소득_구간_코드', '지출_총금액']

df_reordered = df_reordered.reindex(columns=new_columns_order)

# 결과 확인
print(df_reordered.head(1))  # 첫 번째 행 출력

# CSV 파일로 저장
df_reordered.to_csv("final_reordered.csv", index=False)

      시간대_매출금액  기준_년  기준_분기    시간대 상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명  \
0  605774191.0  2021      1  21~24        A       골목상권  3110955  논현초등학교

    자치구_코드 자치구_코드_명  ...  시간대_유동인구_수 평일_유동인구_수_평균  주말_유동인구_수_평균  총_직장_인구_수  \
0  11680.0      강남구  ...    344558.0     411342.0      387722.5     3430.0

   총_상주인구_수  총_가구_수  집객시설_수  월_평균_소득_금액  소득_구간_코드        지출_총금액
0    7026.0  4495.0    12.0   2909460.0       6.0  4.481561e+09

[1 rows x 22 columns]